

/* Header */
a {
    text-decoration: none;
    color: #000;
  }
  .site-header { 
    border-bottom: 0 solid #ccc;
    background: #F4C661;
    background: linear-gradient(135deg, #F4C661, #FFB642);
    margin: -19px -19px 0 -19px;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    margin: 50px;
    margin-top: 50px;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 150px;
    float: left;
    margin: 20px 10px 0 10px;
  }
  /* Buttons */
  form {
    min-height: 19vh;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
    column-gap: 30px;
}
/* Styling the input button elements inside the form */
form button {
  padding: 0.5rem;
  font-size: 4rem;
  border: none;
  background: #ef7613;
}
/* Styling the submit button inside the form */
form button {
  color: #000000;
  background: #FFB642;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #FFB642;
  color: white;
}

/* Main */
main {
    margin:0 -9px 0 -9px ;
    font-family: Arial, Helvetica, sans-serif;

}
.topnav {
    overflow: hidden;
    background-color: #ef7613;
    
}
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 15px 162.5px 15px 130px;
    text-decoration:none;
    font-weight: bold;
    font-size: 30px;
}
.topnav a:hover {
    background-color: #f8910a;
    color: rgb(242, 234, 234);
}
.topnav a.links {
    background-color: #f24b03;
    color: rgb(245, 196, 143);
    
}
footer {
    font-size: 30px;
    
}
/* Aside */
aside {
    position: absolute;
    background: #F4C661;
    background: linear-gradient(135deg, #F4C661, #FFB642);
    margin: 0 0 0 -8px;
    height: 100%;
}
aside h2 {
    text-align: center;
    margin:0;
}
aside p {
    font-size: 30px;
    margin: 0 2px 0 3px;
}

